<div>
  <h2>About</h2>

<p>The Rice Research Repository (R-3) is a freely accessible collection
  of research produced at Rice University, including theses and dissertations,
  pre- and post-refereed journal articles, research center publications, datasets,
  and academic journals.
</p>
<p>Fondren Library manages R-3 in support of Rice University’s mission to advance
  “pathbreaking research, unsurpassed teaching, and contribution to the betterment of our world.”
  It helps to preserve the scholarly record and supports global access to locally-produced knowledge.
We welcome submissions from Rice faculty, staff, students, centers/institutes, departments, and programs.
Submission guidelines can be found on the library website
Information about theses and dissertations
</p>
Get help:
Webform
Email
<p>
Benefits of using R-3 include:
Discoverability: R-3 content is indexed by search engines such as Google and Google Scholar.
  Fondren staff support metadata creation, which further enhances discoverability.
  Rice departments, centers, and institutes can create customized collections to highlight
  all of their research in one place.
Citation and attribution: All content in R-3 receives a persistent  URL. DOIs are available upon request.
Long-term preservation and access: Fondren Library is committed to maintaining R-3
  with content regularly backed-up as part of its preservation plan.
</p>
  <p>Learn more:</p>
<p>R-3 User Guide: Provides information on finding and using repository content,
  depositing your work, and repository policies and guidelines
</p>
  <p>Policies: Read repository policies, including accessibility, data protection, and user responsibilities</p>
  <p>FAQ: View answers to frequently asked questions about R-3</p>
  <p>Submission guidelines</p>
</div>
