<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h2 class=" font-weight-bolder">Rice University Research Repository</h2>
<!--          <p class="lead">Rice University Digital Scholarship Archive</p>-->
          <br/>
          <p >
            The Rice Research Repository (R-3) provides access to research
            produced at Rice University, including theses and dissertations,
            journal articles, research center publications, datasets, and
            academic journals. Managed by Fondren Library, R-3 is indexed by
            Google and Google Scholar, follows best practices for preservation,
            and provides DOIs to facilitate citation. Woodson Research Center collections,
            including Rice Images and Documents and the Task Force on Slavery, Segregation,
            and Racial Injustice, can be found at
            <a herf="https://digitalcollections.rice.edu/">here</a>.

<!--            This is Rice's institutional repository, a web site where the university's-->
<!--            intellectual output is shared, managed, searched, and preserved. Most materials-->
<!--            come from Rice faculty members' research, electronic theses and dissertations,-->
<!--            and digitized collections of rare or unique books, images, musical performances,-->
<!--            and manuscripts.-->
          </p>
          <br />
          <br />
          <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>

        </div>
      </div>
    </div>
  </div>
<!--  <picture class="background-image">-->
<!--    <source type="image/webp" srcset="assets/rice/images/3owls.jpg 2000w, assets/rice/images/3owls.jpg 1200w, assets/rice/images/3owls.jpg 768w">-->
<!--    <source type="image/jpg" srcset="assets/rice/images/3owls.jpg 2000w, assets/rice/images/3owls.jpg 1200w, assets/rice/images/3owls.jpg 768w">-->
<!--    <img alt="" [src]="'assets/rice/images/3owls.jpg'"/>&lt;!&ndash; without the []="''" Firefox downloads both the fallback and the resolved image &ndash;&gt;-->
<!--  </picture>-->
  <picture class="background-image">
    <source type="image/webp" srcset="assets/rice/images/ricelovett.jpg 2000w, assets/rice/images/ricelovett.jpg 1200w, assets/rice/images/ricelovett.jpg 768w">
    <source type="image/jpg" srcset="assets/rice/images/ricelovett.jpg 2000w, assets/rice/images/ricelovett.jpg 1200w, assets/rice/images/ricelovett.jpg 768w">
    <img alt="" [src]="'assets/rice/images/ricelovett.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
<!--  <picture class="background-image">-->
<!--    <source type="image/webp" srcset="assets/rice/images/Office_Art_Selections_B 0004.JPG 2000w, assets/rice/images/Office_Art_Selections_B 0004.JPG 1200w, assets/rice/images/Office_Art_Selections_B 0004.JPG 768w">-->
<!--    <source type="image/jpg" srcset="assets/rice/images/Office_Art_Selections_B 0004.JPG 2000w, assets/rice/images/Office_Art_Selections_B 0004.JPG 1200w, assets/rice/images/Office_Art_Selections_B 0004.JPG 768w">-->
<!--    <img alt="" [src]="'assets/rice/images/Office_Art_Selections_B 0004.JPG'"/>&lt;!&ndash; without the []="''" Firefox downloads both the fallback and the resolved image &ndash;&gt;-->
<!--  </picture>-->

</div>

