<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase">Managed By</h6>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://library.rice.edu/dss" class="">Digital Scholarship Services</a>
            </li>
            <li>
              <a href="https://library.rice.edu" class="">Fondren Library</a>
            </li>
            <li>
              <a href="https://www.rice.edu" class="">Rice University</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
<!--          <h5 class="text-uppercase">Contact Us</h5>-->

          <ul class="list-unstyled mb-0">
            <li>
              <a href="mailto:cds@rice.edu" class="">Contact Us</a>
            </li>
            <li>
              <a href="https://scholarship.rice.edu/page/faq" class="">FAQ</a>
            </li>
            <li>
              <a href="https://privacy.rice.edu/" class="">Privacy Notice</a>
            </li>
            <li>
              <a href="https://scholarship.rice.edu/page/accessibility" class="">Accessibility Statement</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
<!--          <h5 class="text-uppercase">CONTACT US</h5>-->

          <p>Physical Address: </p>
          <p>6100 Main Street, Houston, Texas 77005
          </p>
          <p>Mailing Address:</p>
          <p>MS-44, P.O.BOX 1892, Houston, Texas 77251-1892
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
<!--  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">-->
<!--    <div class="content-container">-->
<!--      <p class="m-0">-->
<!--        <a class="text-white"-->
<!--           href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>-->
<!--        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}-->
<!--        <a class="text-white"-->
<!--           href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' | translate}}</a>-->
<!--        Managed by the <a class="text-white" href="http://library.rice.edu/dss">Digital Scholarship Services</a>-->
<!--      </p>-->
<!--      <p class="m-0">-->
<!--        at <a class="text-white" href="http://library.rice.edu">Fondren Library</a>, <a class="text-white" href="http://www.rice.edu">Rice University</a>-->
<!--      </p>-->
<!--      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">-->
<!--        <li>-->
<!--          <a class="text-white" href="javascript:void(0);"-->
<!--             (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>-->
<!--        </li>-->
<!--        <li *ngIf="showPrivacyPolicy">-->
<!--          <a class="text-white"-->
<!--             routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>-->
<!--        </li>-->
<!--        <li *ngIf="showEndUserAgreement">-->
<!--          <a class="text-white"-->
<!--             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="text-white"-->
<!--             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
  <!-- Copyright -->
</footer>
